body {
  margin: 0;
  color: #777;
  line-height: 1.42;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Alkatra", cursive;
  font-size: 6rem;
  font-weight: 500;
}
h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  font-size: 1.125rem;
  color: #aaa;
  text-align: center;
  font-weight: 400;
}
hr {
  width: 2.5rem;
  border-color: #d43031;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}
footer {
  background: #262626;
  padding: 4.375rem 0 4.375rem;
  display: flex;
  justify-content: space-around;
}
footer a {
  color: #888;
  text-decoration: none;
}
footer a:hover {
  color: #fff;
}
.social-links {
  display: flex;
  gap: 1.25rem;
}
.header {
  height: 43.75rem;
  background-image: url("../images/intro-bg.jpg");
}
.fade {
  position: absolute;
  height: 43.75rem;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}
.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
.header_phone {
  font-size: 1.5rem;
}
.specials {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.specials_container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 1fr;
  gap: 0.625rem;
}
.special-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.special-item p {
  text-align: center;
}
.special-image {
  width: 18.75rem;
}

.story {
  display: grid;
  background-color: #f6f6f6;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
}
.story-image {
  background-image: url("../images/story.jpg");
  background-size: cover;
}
.story-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.story-description p {
  width: 40%;
}
.menu {
  padding-top: 6.25rem;
  width: 50%;
  margin: 0 auto;
}
.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.625rem;
}
.menu-list {
  list-style: none;
}
.list-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  color: #444;
  margin-bottom: 0.625rem;
  font-weight: 400;
}
.gallery {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: scroll;
  margin: 8.75rem 0 6.25rem;
}
.cheef-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 3.125rem;
}
.cheef-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cheef-description p {
  width: 40%;
}
.contact-section {
  background-color: #333;
  padding: 100px 0;
}
.contacts-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 50px;
}
.contacts-item {
  text-align: center;
}
.btn {
  border-radius: 0;
  font-family: Georgia;
  color: #777;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #777 2px;
  text-decoration: none;
}
input {
  padding: 0.375rem 0.75rem;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  line-height: 1.42;
  font-size: 1rem;
  color: #ccc;
  width: 44%;
}
.message {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  width: 89%;
  line-height: 1.42;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  color: #ccc;
}

.contact-form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1.25rem;
}
.contact-form p {
  width: 95%;
  margin-left: 10px;
}
